
@{
    Layout = "~/Areas/Admin/Views/AdminLayout.cshtml";
}

@model PhoneService.Dtos.AdminDtos.AdminPasswordChangeDto

<link href="~/Admin/css/sb-admin-2.min.css" rel="stylesheet">
<div class="container">
    <div class="row mt-5">

        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <form method="post" asp-antiforgery="true">

                        <label>Old Password</label>
                        <input type="password" asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                        <br />

                        <label>New Password</label>
                        <input type="password" asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                        <br />
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
