 
 @model PhoneService.Entities.Appointment


    <!-- End Navbar Section -->
    <!-- Start Slider Section
    <header class="slider slider-prlx">
      <div class="swiper-container parallax-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div
              class="bg-img valign"
              data-background="assets/img/slider-1.jpg"
              data-overlay-dark="6"
            >
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 offset-lg-2 col-md-12">
                    <div class="caption">
                      <h1>Your Device in Safe Hands</h1>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua, magna aliqua. ipsum is simply dummy text
                        of the printing.
                      </p>
                      <div class="banner-btn home-slider-btn">
                        <a href="#0" class="default-btn-one">
                          Our Services
                          <span></span>
                        </a>
                        <a href="#0" class="default-btn">
                          Repair Now
                          <span></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="bg-img valign"
              data-background="assets/img/slider-2.jpg"
              data-overlay-dark="6"
            >
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 offset-lg-2 col-md-12">
                    <div class="caption">
                      <h1>Together We Can Fix Anything</h1>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua, magna aliqua. ipsum is simply dummy text
                        of the printing.
                      </p>
                      <div class="banner-btn home-slider-btn">
                        <a href="#0" class="default-btn-one">
                          Discover More
                          <span></span>
                        </a>
                        <a href="#0" class="default-btn">
                          Repair Now
                          <span></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="control-text">
          <div
            class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer"
          >
            <span class="arrow prv"></span>
          </div>
          <div
            class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer"
          >
            <span class="arrow nxt"></span>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </header>
    End Slider Section -->
    <!-- Start Services Section -->
<section class="services-section pt-130 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Expert technicians, expert solutions</h2>
                    <h4>Select your device to get started</h4>
                    <p>
                        We’ll match any local competitor’s published price for the same
                        repair and beat it by $5.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-item">
                    <div class="services-icon">
                        <img src="~/celloria/assets/img/icons/services-icon-1.svg"
                             alt="svg icon" />
                    </div>
                    <h3>iPhone Repair</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt dolore magna aliqua
                    </p>
                    <div class="services-btn-link">
                        <a href="#0" class="services-link">
                            Read More <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-item">
                    <div class="services-icon">
                        <img src="~/celloria/assets/img/icons/services-icon-2.svg"
                             alt="svg icon" />
                    </div>
                    <h3>Laptop & Computer Repair</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt dolore magna aliqua
                    </p>
                    <div class="services-btn-link">
                        <a href="#0" class="services-link">
                            Read More <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-item">
                    <div class="services-icon">
                        <img src="~/celloria/assets/img/icons/services-icon-3.svg"
                             alt="svg icon" />
                    </div>
                    <h3>iPad & Mac Repair</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt dolore magna aliqua
                    </p>
                    <div class="services-btn-link">
                        <a href="#0" class="services-link">
                            Read More <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-item">
                    <div class="services-icon">
                        <img src="~/celloria/assets/img/icons/services-icon-4.svg"
                             alt="svg icon" />
                    </div>
                    <h3>Smartphones Repair</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt dolore magna aliqua
                    </p>
                    <div class="services-btn-link">
                        <a href="#0" class="services-link">
                            Read More <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-item">
                    <div class="services-icon">
                        <img src="~/celloria/assets/img/icons/services-icon-5.svg"
                             alt="svg icon" />
                    </div>
                    <h3>Tablet Repair</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt dolore magna aliqua
                    </p>
                    <div class="services-btn-link">
                        <a href="#0" class="services-link">
                            Read More <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-item">
                    <div class="services-icon">
                        <img src="~/celloria/assets/img/icons/services-icon-6.svg"
                             alt="svg icon" />
                    </div>
                    <h3>Game Console Repair</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt dolore magna aliqua
                    </p>
                    <div class="services-btn-link">
                        <a href="#0" class="services-link">
                            Read More <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-100">
    <div class="container">
        <div class="row">
            @* <div class="col-sm-6">
            <input type="country" name="country" id="name" class="form-control required-entry" required placeholder="Location">
            </div>
            <div class="col-sm-6">
            <a class="default-btn" href="#" style="margin-top: 5px;">Get Location</a>
            </div>*@
            <div class="col-md-12">
                <div class="category_div pt-30">

                    <select name="category"
                            class="required-entry" id="CityId"
                    @*onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);"*@>
                        <option value="0" selected>Please City Select</option>
                        @foreach (var item in ViewBag.cities)
                        {


                            <option value="@item.Value">@item.Text</option>

                        }


                    </select>
                </div>
                <div class="sub_category_div pt-30">


                    @*   <script type="text/javascript" language="JavaScript">
                    document.write(
                    '<select name="subcategory" id="subcategory" onchange="javascript: dynamicdropdownone(this.options[this.selectedIndex].value);"><option value="">Please select framework</option></select>'
                    );
                    </script>*@

                    <select id="DealerId" asp-for="DealerId"
                            class="required-entry">
                        <option value="0" selected>Please Dealer Select</option>

                        <option value="DealerId"></option>


                    </select>

                </div>


                <div class="sub_subcategory_div pt-30" id="sub_subcategory_div">

                    <select asp-for="BrandId" id="BrandId" class="required-entry">
                        <option value="0" selected>Please Brand Select</option>

                        @foreach (var item in ViewBag.brands)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }

                    </select>

                    <div class="sub_category_div pt-30">
                        <select id="ModelId" asp-for="ModelId" class="required-entry">
                            <option value="0" selected>Please Model Select</option>

                            <option value="ModelId"></option>

                        </select>
                        <div></div>
                        @*  <script type="text/javascript" language="JavaScript">
                        document.write(
                        '<select name="sub_subcategory" onchange="javascript: urlRedirectTo(this.options[this.selectedIndex].value);" id="sub_subcategory"><option value="">Please select framework version</option></select>'
                        );
                        </script>
                        <noscript>
                        <select name="sub_subcategory" id="sub_subcategory">
                        <option value="">Please select framework vesrion</option>
                        </select>
                        </noscript>*@
                    </div>
                </div>
                <div class="  pt-30" style="margin: 0 auto;">
                    <a class="default-btn" href="service-app.html">Book a Repair <span></span></a>
                </div>
            </div>
        </div>
</section>

<script src="~/celloria/assets/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#CityId").change(function () {
            var cityId = $(this).val();

            debugger

            $.ajax({
                type: "Post",
                url: "/Home/DealerGet/?CityId=" + cityId,
                contentType: "html",

                success: function (response) {


                    $("#DealerId").empty();
                    $("#DealerId").append(response);
                }
            });

        });


        $("#BrandId").change(function () {
            var brandId = $(this).val();

            debugger

            $.ajax({
                type: "Post",
                url: "/Home/ModelGet/?ModelId=" + brandId,
                contentType: "html",

                success: function (response) {


                    $("#ModelId").empty();
                    $("#ModelId").append(response);
                }
            });

        });

    });
</script>
<!-- End Testimonial Section -->